## SPRING 2021
## Applied Machine Learning
### Practicum 5: Feature Engineering.

In [1]:
import numpy as np
import pandas as pd
from seaborn import load_dataset

df=load_dataset('titanic')
spam=pd.read_csv('https://raw.githubusercontent.com/graf10a/Applied-Machine-Learning-Course/main/Data/spam.csv', 
                 encoding = "ISO-8859-1")[['v1', 'v2']]

In [2]:
df.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [3]:
#double check the adult_male column
df['adult_male'].unique()

array([ True, False])

In [4]:
df['adult_male_int'] = df['adult_male'].values.astype(np.uint8)

df[['adult_male', 'adult_male_int']].head()

   adult_male  adult_male_int
0        True               1
1       False               0
2       False               0
3       False               0
4        True               1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   survived        891 non-null    int64
 1   pclass          891 non-null    int64
 2   sex             891 non-null    object
 3   age             714 non-null    float64
 4   sibsp           891 non-null    int64
 5   parch           891 non-null    int64
 6   fare            891 non-null    float64
 7   embarked        889 non-null    object
 8   class           891 non-null    category
 9   who             891 non-null    object
 10  adult_male      891 non-null    bool
 11  deck            203 non-null    category
 12  embark_town     889 non-null    object
 13  alive           891 non-null    object
 14  alone           891 non-null    bool
 15  adult_male_int  891 non-null    uint8
dtypes: bool(2), category(2), float64(2), int64(4), object(5), uint8(1)
memory usage: 81.5+ KB

In [6]:
df.drop(labels=['deck'], axis=1, inplace=True)

In [7]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone', 'adult_male_int'],
      dtype='object')

In [8]:
df.dropna(inplace=True)
df.isna().sum().sum()

0

In [9]:
#converting the alive column to numerical form
df['alive_int'] = (df['alive']=='yes').astype(np.uint8)
df[ ['survived','alive', 'alive_int'] ].head()

   survived alive  alive_int
0         0    no          0
1         1   yes          1
2         1   yes          1
3         1   yes          1
4         0    no          0

In [10]:
np.equal(df['survived'].values, df['alive_int'].values).sum()

712

In [11]:
#Using the special scikit label encoder class
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['alive_le'] = le.fit_transform(df['alive'])

le.classes_

array(['no', 'yes'], dtype=object)

In [12]:
df[ ['survived','alive', 'alive_int', 'alive_le'] ].head()

   survived alive  alive_int  alive_le
0         0    no          0         0
1         1   yes          1         1
2         1   yes          1         1
3         1   yes          1         1
4         0    no          0         0

In [13]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder(dtype=np.uint8)

In [14]:
cat_feats=['who', 'embark_town']
cat_feats_int = [feat + '_int' for feat in cat_feats]

In [15]:
df[cat_feats_int] = oe.fit_transform(df[cat_feats])

In [16]:
df[cat_feats+cat_feats_int].head()

     who  embark_town  who_int  embark_town_int
0    man  Southampton        1                2
1  woman    Cherbourg        2                0
2  woman  Southampton        2                2
3  woman  Southampton        2                2
4    man  Southampton        1                2

In [17]:
oe.categories_

[array(['child', 'man', 'woman'], dtype=object),
 array(['Cherbourg', 'Queenstown', 'Southampton'], dtype=object)]

In [18]:
#one hot encoding

one_hot = pd.get_dummies(df[cat_feats])

one_hot.head()

   who_child  who_man  ...  embark_town_Queenstown  embark_town_Southampton
0          0        1  ...                       0                        1
1          0        0  ...                       0                        0
2          0        0  ...                       0                        1
3          0        0  ...                       0                        1
4          0        1  ...                       0                        1

[5 rows x 6 columns]

In [19]:
from sklearn.preprocessing import OneHotEncoder

oh = OneHotEncoder(dtype=np.uint8)

df_oh= oh.fit_transform(df[cat_feats])

In [21]:
#Column Transformer creates a pipeline stack

#a pipeline of piplines





from sklearn.feature_extraction.text import TfidfTransformer

sample = [
          'mencken',
          'bruce',
          'krassner'
]

#the sample array is referred to as a corpus
#every single word in a document is referred to as a term
vec = TfidfTransformer()

X = vec.fit_transform(sample)

ValueError: ignored